/* <!-- YT CSS D.Gray Lesson 18 Card Design Project --> */

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

/* || Utility Classes */
/* for Janes last name "Dev Rel" to not break */
.nowrap {
    white-space: nowrap;
}

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    font: 1.5rem "Nunito", sans-serif;
    /* full height of browser page */
    min-height: 100vh;
    /* color: white; */
    /* fallback background image color */
    background-color: #475569;
    background-image: radial-gradient(whitesmoke, #475569);
    /* display flex stacks header/nav/body/footer */
    display: flex;
    flex-direction: column;
}

.h1carddesign {
    font-size: 1.3rem;
    text-align: center;
    margin: 0px 0 0px 0;
    padding: 5px;
    background-color: rgb(43, 173, 199);
    border: 1px solid black;
}

header,
footer {
    position: sticky;
    color: whitesmoke;
    background-color: #1e293b;
    font-size: 1.0rem;
    text-align: center;
}

header {
    top: 0;
}

nav {
    background-color: white;
    padding: 0.5rem;
    border-bottom: 2px solid black;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

nav a,
nav a:visited {
    color: #000;
}

nav a:hover,
nav a:focus {
    color: hsla(0, 0, 20%, 0.6);
}

/* figcaption,
p {
    text-align: center;
} */

main {
    /* makes main grow to full height */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

footer {
    bottom: 0;
}

/* || Profile Card Class */
.card {
    scroll-margin-top: 8rem;
    width: min(100%, 350px);
    background-color: #cbd5e1;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card figure {
    display: flex;
    flex-flow: column wrap;
}

.card img {
    border: 5px solid #333;
    border-radius: 50%;
}

.card figcaption {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

/* || small media query  */
/* anything past 576pxs */
@media screen and (min-width: 576px) {
    body {
        background-color: green;
        background: radial-gradient(whitesmoke, green);
    }

    nav {
        display: none;
    }
}

/* || Medium media query  */
/* anything past 576pxs */
@media screen and (min-width: 768px) {
    body {
        background-color: gold;
        background: radial-gradient(whitesmoke, gold);
    }

}

/* || Large media query  */
/* anything past 576pxs */
@media screen and (min-width: 992px) {
    body {
        background-color: firebrick;
        background: radial-gradient(whitesmoke, firebrick);
    }

}

/* || Extra Large media query  */
/* anything past 576pxs */
@media screen and (min-width: 1200px) {
    body {
        background-color: rebeccapurple;
        background: radial-gradient(whitesmoke, rebeccapurple);
    }

}

/* || Mobile Device Landscape media query  */
/* anything past 576pxs */
@media screen and (min-height: 425px) and (min-aspect-ratio: 7/4) {
    body {
        background-color: dodgerblue;
        background: radial-gradient(whitesmoke, dodgerblue);
    }

    h1 {
        font-size: 1.5rem;
    }

    nav {
        display: none;
    }

}

/* @media screen and (min-width: 481px) {} */

/* @media screen and (orientation: landscape) {
    
} */

/* @media screen and (ratio: 16/9) {
    
} */